<%- include('partials/header') %> 
<div class="thumbnail">
    <h3 class="text-center">Posts</h3>
    <div class="row">
        <% posts.forEach(function(post){ %>
            <div class="col-lg-9 col-md-9 justify-content-center mx-auto">
                <div class="posts text-center bg-light p-3 my-3 rounded">
                    <h3><%= post.creator %> </h3>
                    <img src="<%= post.image %> " class="img-fluid rounded" alt="">
                    <p class="text-justify"> <%= post.caption %>  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, culpa suscipit maxime reiciendis, officiis labore maiores velit aliquam ab, itaque quo veritatis deserunt iure laborum nam omnis. Quod, deserunt odio?</p>
                    <a href="/post/<%=post._id %>" class="btn btn-primary">See Post</a>
                </div>
            </div>
        <% }); %>
    </div>
    
 
</div>
<%- include('partials/footer') %> 