<%- include('partials/header') %> 
<div class="row w-100 mx-auto">
<div class="col-12 col-md-9 mt-5 show-content">
        <div class="mx-auto"><h1 class="text-center">This post is by <%= post.author.name %> </h1></div>
        <img src="<%=post.image %> " class="img-fluid rounded d-block w-75 mx-auto" alt="">
        <p class="text-justify w-75 mx-auto"><%= post.caption %> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusantium nam dicta quia repellendus sunt fugiat voluptatum consequuntur, quae ea nihil? Nemo dicta dolores consequuntur quaerat minus commodi et odit. </p>
</div>
    <div class="col-12 col-md-9 mx-auto show-content">
    <div class="comment-section w-75">
        <h1 id="comments">Comments</h1>
        <div id="user-comment">
            <% post.comments.forEach(comment=>{ %> 
                <div class="container user-det px-2 rounded">
                    <h4><a href="/profile/<%= comment.username %>"> <%= comment.commentator %> </a></h4>
                    <p class="comment-text lead text-justify"><%= comment.comment  %> </p>
                </div>
                <% }) %> 
        </div>
        <% if (currentUser) { %>
            <div class="comment-form">
            <form action="/post/<%= post._id %> " method="post">
                <textarea class="form-control" type="text" name="comment" maxlength="500" placeholder="How do you feel about this post..." required></textarea>
                <button type="submit" class="btn btn-outline-primary mt-3">Comment</button>
            </form>
            </div>
        <% } else {%>
            <a href="/login" class="btn btn-primary">Login to comment</a>
        <% } %> 
    </div>
</div>
</div>

<%- include('partials/footer') %> 